body {
	background-image: url(flawless.png);
	background-repeat: repeat-y;
	background-size: 100%;
	color: #000;
}

.leftPane {
	background-color: #FF00FF;
}

.rightPane {
	background-color: #00FF00;
}

.row {
    display: flex;`
	
}

#minheightsetter {
	min-height: 500px;
}

#send-message {
	float: right;
	margin: 10px 0;
}

#top-row .col-md-6 {
	opacity: 0.5;
}

#everything-container {
	min-height: 100%;
}

#theinput {
	float: left;
    width: 80%;
    margin: 10px 0;
}
