body {
	background-image: url(flawless.png);
	background-repeat: repeat-y;
	background-size: 100%;
	color: #000;
}

#bottom-row .leftPane {
	/*background-color: #FF00FF;*/
	background-color: #000;
}

#top-row .leftPane {
	opacity: 0;
}

#bottom-row .rightPane {
	/*background-color: #00FF00;*/
	background-color: rgb(246, 114, 139);
}

#top-row .rightPane {
	background-color: #fcd2da;
	opacity: 1 !important;
}

.row {
    display: flex;`
	
}

#minheightsetter {
	min-height: 500px;
}

#send-message {
	float: right;
	margin: 10px 0;
}

#top-row .col-md-6 {
	opacity: 0.5;
}

#everything-container {
	min-height: 100%;
}

#theinput {
	float: left;
    width: 80%;
    margin: 10px 0;
}
